@import '../../styles/variables';

.chat {
  position: relative;

  &_header {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid $light_grey;
    min-height: 55px;

    &_options {
      position: absolute;
      padding: 5px;
      width: 50px;
      top: 15px;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      opacity: .7;
      transition: opacity .2s ease;

      &:hover {
        opacity: 1;
      }

      .options_round {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $grey;
        opacity: .7;
      }
    }
  
    &_user {
      font-size: 20px;
      font-weight: 800;
    }
    &_info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
  
      &_status {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        animation: online;
        animation-duration: .8s;
        animation-iteration-count: infinite;
      }
      &_status.online {
        background-color: $green;
      }
      &_status.out {
        background-color: $grey;
        animation: none;
      }
    }

    &_dropdown {
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 2;
      min-width: 100px;
      border-left: 1px solid $grey;
      border-bottom: 1px solid $grey;
      border-radius: 5px;
      background-color: white;
      animation-name: dropdown;
      animation-iteration-count: initial;
      animation-duration: .5s;

      ul {
        list-style: none;

        li {
          border-radius: 5px;
          font-size: 20px;
          text-align: center;
          padding: 5px 10px;
          cursor: pointer;
          transition: .3s;
          color: grey;

          &:hover {
            background-color: $light_grey;
            color: black;
          }
        }
      }
    }
  }

  @keyframes dropdown {
    from {
      opacity: 0.5;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &_content {
    background-color: rgb(247, 247, 247);
    padding: 5px;
    height: 520px;
    width: 100%;
    overflow: auto;
  }
}

@keyframes online {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}